.bg-project-card{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
.card-text{
    position: relative;
}
.card{
  border: none;
}
.card:hover{
  box-shadow: green 0px 0px 23px 3px;
}